@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #faeee7;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-top: 50px;

}

h1,
h2,
h3 {
    font-family: 'Noto Sans';
    color: #b67b88;
    text-align: center;
}

/* header y nav */


.header p {
    color: #594a4e;
}

a {
    color: #ff8ba7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #50383e;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    padding: 5px 10px;
    border: 1px solid #ff8ba7;
    border-radius: 5px;
    background-color: #ff8ba7;
}

nav ul li a {
    color: white;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: #ffc6c7;
}

nav ul li a:hover {
    background-color: #ffc6c7;
}

header {
    position: relative;
    height: 400px;
    color: white;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://lh4.googleusercontent.com/proxy/BEDfYkT1RH2pXNdGuQ1QPcH5egHoUZGSjnX7S8CBVW-VsTq6w8Q8faWWlizQVw6y1V5RGNZdRpr0Lz8epaZvc2QMlF7l7m7B961mI-ZlfigIGDUkSMuhUND4erg_XYk');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-content {
    position: relative;
    margin-bottom: -75px;
    z-index: 2;

}

.profile-picture {
    border-radius: 50%;
    border: 5px solid #ffffff;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: relative;
    z-index: 3;
}

.header-content h1 {
    margin: 10px 0 5px;
    font-size: 2.5em;
}

.header-content .title {
    margin: 5px 0;
    font-size: 1.2em;
    color: #ff8ba7;
}

.header-buttons {
    margin-top: 20px;
}

.header-buttons .cont_bt,
.header-buttons .github_bt {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ff8ba7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.header-buttons .cont_bt:hover,
.header-buttons .github_bt:hover {
    background-color: #ffc6c7;
}

.white-container {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 60%;
    height: 70%;
    padding-top: 60px;
    padding-bottom: 20px;

}

.white-container p {
    color: #33272a;
    text-align: center;
    margin-left: 10px;
}


/* secciones especf*/

.partealta {
    margin: 40px 20px;
}

.partealta ul {
    list-style-type: none;
    padding: 0;
}

.partealta ul li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* info y edu */ 

.info-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.info-content h4 {
    padding: 20px;
    background-color: #976c77;
    color: white;
    text-align: center;
}

.info-container, .edu-container {
    box-shadow: 1px 1px 7px #555;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}


.edu-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.edu-item img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.edu-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titulo-edu, .titulo-info {
    margin: 0;
}

.nombre {
    font-weight: bold;
    font-size: 1.2em;
}

.texto-video{
    background-color: #976c77;
    color: white;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* habilidades */

#hab {
    text-align: center;
    margin-bottom: 20px;
}

.hab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.picture-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.picture {
    width: 140px;
    height: 140px;
}

.progress-bar {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 15px;
    background-color: #4caf50;

    border-radius: 5px;

}

.python-progress {
    width: 70%;
}

.java-progress {
    width: 60%;
}

.vfp-progress {
    width: 50%;
}

.sql-progress {
    width: 40%;
}

.html-progress {
    width: 60%;
}

.css-progress {
    width: 60%;
}



/* experiencia */

.exp-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    gap: 20px;

}

.elementos {

    box-shadow: 1px 1px 7px #555;
    width: 80%;
    margin: 0 auto;
    background-color: white;

}

.elementos h4 {
    padding: 20px;
    background-color: #50383e;
    color: white;
    text-align: center;

}



.detalle,
.date {
    color: black;
    font-weight: 600;
    margin-left: 20px;
}

.date {
    font-size: small;
}

.extra-info {
    padding-bottom: 15px;

}

.extra-info ul {
    color: black;
}

.separador1 {
    padding: 0 50px;
    border-right: 2px #ff8ba7 solid;
    padding-right: 65px;
}

.separador1 .elementos:first-child {
    margin-bottom: 70px;
}

.separador2 {
    padding: 0 50px;

}

.separador2 .elementos:first-child {
    transform: translateY(50px);
    margin-bottom: 70px;

}

.separador2 .elementos:nth-child(2) {
    transform: translateY(50px);

}

.separador2 .elementos {
    margin-bottom: 30px;
}

.map-container {
    width: 150;
    height: 250;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.ubicacion {
    background-color: #976c77;
    color: white;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* proyectos */

.proyecto {
    box-shadow: 1px 1px 7px #555;
    width: 30%; 
    margin: 10px auto; 
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
}

.proyecto a {
    display: block;
    width: 100%;
    height: 100%;
}

.proyecto-imagen {
    width: 100%;
    height: 300px; 
    object-fit: contain;
}

.proyecto h5 {
    padding: 10px;
    background-color: #50383e;
    color: white;
    
    text-align: center;
    margin: 0;
    font-size: 1em; 
}

/* referencias 
*/

.contactos, .proyectos{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contacto{
    box-shadow: 1px 1px 4px #555;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    width:400px;
    height: 150px;
}

.contacto-imagen{
    width:100px;
    height: 80px;
    border-radius: 30%;
    
}

.contacto-info p {
    margin: 0;
    font-size: 16px;
}


/* footer */
footer {
    background-color: #50383e;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.copyp {
    color: #cf98a7;
}

/* formulario */

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #33272a;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #ff8ba7;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #ffc6c7;
}

.texto {
    text-align: center;
}